.circle{
    border-radius: 50%;
    border: 23px solid rgb(255, 255, 255);
    height: 500px;
}
.div{
    background-color: #424242;
}
.div1{
    position : absolute;
    margin-top: 200px;
    left: 100px;
}
.div2{
    position : absolute;
    margin-top: 200px;
    left: 800px;
}

.hed{
    font-size: 35px;
    font-family: Arial;
    color: #3E3E3E;
}
.red{
    color: #C8242F;
    
}
.log{
    font-size: 23px;
    font-family: Arial;
    color: #3E3E3E;
}
.link{
    text-decoration: none;
    color: #ADADAD;
}
.reg{
    text-decoration: none;
    color:#C8242F ;
}
#uname {
    border-radius: 5px;
    padding: 20px; 
    width: 350px;
    height: 2px;   
    border: 1px solid #ADADAD; 
}
#pass {
    border-radius: 5px;
    padding: 20px; 
    width: 350px;
    height: 2px; 
    border: 1px solid #ADADAD;   
}
#sub {
    border-radius: 23px;
    padding: 20px; 
    width: 100px;
    height: 2px;
    background-color:#C8242F;  
    color: rgb(255, 255, 255);
    text-align: center;
    margin: auto;
}
.div4{
    top: 0px;
    left: 0px;
    width: 1660px;
    height: 80px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
    position: absolute;
}
.div5{
    top: 34px;
    left: 29px;
    width: 18px;
    height: 12px;
    background: #ffffff 0% 0% no-repeat padding-box;
    opacity: 1;
    position: absolute;
}
.div6{
    top: 25px;
    left: 72px;
    width: 142px;
    height: 30px;
    opacity: 1;
    position: absolute;
}
.div7{
    top: 32px;
    left: 291px;
    width: 16px;
    height: 16px;
    background: #fffefe 0% 0% no-repeat padding-box;
    opacity: 1;
    position: absolute;
}
.div8{
    top: 28px;
    left: 321px;
    width: 49px;
    height: 21px;
    text-align: left;
    font: normal normal normal 16px/21px Roboto;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    position: absolute;
}
.div9{
    top: 28px;
    left: 1294px;
    width: 22px;
    height: 21px;
    background: #ffffff 0% 0% no-repeat padding-box;
    opacity: 1;
    position: absolute;
}
.div10{
    top: 18px;
    left: 1368px;
    width: 44px;
    height: 44px;
    background: transparent url('img/Ellipse 19.png') 0% 0% no-repeat padding-box;
    opacity: 1;
    position: absolute;
}
.div11{
    top: 28px;
    left: 1424px;
    width: 68px;
    height: 21px;
    text-align: left;
    font: normal normal normal 16px/21px Roboto;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    position: absolute;
}
.div12{
    top: 37px;
    left: 1507px;
    width: 10px;
    height: 6px;
    background: #fffefe 0% 0% no-repeat padding-box;
    opacity: 1;
    position: absolute;
}

.div13{
    margin-top: 91px;
    left: 0px;
    width: 292px;
    height: 1890px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
    position: absolute;
    padding: 29px;
}
.div14{
    top: 105px;
    left: 30px;
    width: 183px;
    height: 43px;
    border-radius: 5px;
    opacity: 1;
    display: flex;
    gap: 5px;
}
.div15{
    top: 115px;
    left: 30px;
    width: 183px;
    height: 43px;
    background: #ffffff 0% 0% no-repeat padding-box;
    border-radius: 5px;
    opacity: 1;
    display: flex;
    gap: 5px;
}
.div16{
    top: 125px;
    left: 30px;
    width: 183px;
    height: 43px;
    background: #ffffff 0% 0% no-repeat padding-box;
    border-radius: 5px;
    opacity: 1;
    display: flex;
    gap: 5px;
}
.div17{
    top: 105px;
    left: 30px;
    width: 183px;
    height: 43px;
    background: #ffffff 0% 0% no-repeat padding-box;
    border-radius: 5px;
    opacity: 1;
    display: flex;
    gap: 5px;
}
.div18{
    top: 105px;
    left: 30px;
    width: 183px;
    height: 43px;
    background: #ffffff 0% 0% no-repeat padding-box;
    border-radius: 5px;
    opacity: 1;
    display: flex;
    gap: 5px;
}
.div19{
    top: 105px;
    left: 30px;
    width: 183px;
    height: 43px;
    background: #ffffff 0% 0% no-repeat padding-box;
    border-radius: 5px;
    opacity: 1;
    display: flex;
    gap: 5px;
}
.div20{
    top: 105px;
    left: 30px;
    width: 183px;
    height: 43px;
    background: #ffffff 0% 0% no-repeat padding-box;
    border-radius: 5px;
    opacity: 1;
    display: flex;
    gap: 5px;
    
}

.imgd{
    height: 16px;
    margin-top: 15px;
    margin-left: 18px;
}
.div21{
    height: 1279px;
    width: 1318px;
    position: absolute;
    margin-top: 70px;
    margin-left: 242px;
    background-color: rgb(250, 250, 250);
}
.div22{
    position: absolute;
    margin-top: 5px;
    margin-left: 48px;
    width: 146px;
    height: 39px;
    text-align: left;
    font: normal normal medium 30px/39px Roboto;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}
.div23{
    margin-top: 105px;
    margin-left: 48px;
    width: 219px;
    height: 116px;
    background: #ffffff 0% 0% no-repeat padding-box;
    opacity: 1;
    position: absolute;
    display: flex;
    gap: 5px;
}
.div24{
    margin-top: 105px;
    margin-left: 300px;
    width: 219px;
    height: 116px;
    background: #ffffff 0% 0% no-repeat padding-box;
    opacity: 1;
    position: absolute;
    display: flex;
    gap: 5px;
}
.div25{
    margin-top: 105px;
    margin-left: 548px;
    width: 219px;
    height: 116px;
    background: #ffffff 0% 0% no-repeat padding-box;
    opacity: 1;
    position: absolute;
    display: flex;
    gap: 5px;
}
.div26{
    margin-top: 105px;
    margin-left: 798px;
    width: 219px;
    height: 116px;
    background: #ffffff 0% 0% no-repeat padding-box;
    opacity: 1;
    position: absolute;
    display: flex;
    gap: 5px;
}
.div27{
    margin-top: 105px;
    margin-left: 1048px;
    width: 219px;
    height: 116px;
    background: #ffffff 0% 0% no-repeat padding-box;
    opacity: 1;
    position: absolute;
    display: flex;
    gap: 5px;
}
.img1{
    height: 33px;
    margin-top: 41px;
    margin-left: 38px;
}

/* .size1{
    font-size: 20px;
}
.size2{
    font-size: 25px;
} */
.div28{
    margin-top: 248px;
    margin-left: 48px;
    width: 802px;
    height: 400px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 5px;
    opacity: 1;
    position: absolute;
}
.div29{
    margin-left: 29px; 
    font-size: 22px;
    position: absolute;
}
.div30{
    margin-top: 10px;
    margin-left: 611px;
    position: absolute;
    width: 163px;
    height: 20px;
    display: flex;
    gap: 15px;
}
.div31{
    margin-left: 29px; 
    margin-top: 75px;
    position: absolute;
}
.div32{
    margin-left: 882px;
    margin-top: 250px;
    width: 385px;
    height: 398px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 5px;
    opacity: 1;
}
.div33{
    margin-left: 29px; 
    font-size: 22px;
    width: 165px;
    position: absolute;
}
.div34{
    margin-left: 79px; 
    margin-top: 60px;
    position: absolute;
}
.div35{
    margin-left: 49px; 
    margin-top: 290px;
    position: absolute;
    display: flex;
    gap: 5px;
    font-size: 15px;
    width: 210px;
    
}
.coun{
    margin-top: 3px;
}
.div36{
    margin-left: 268px; 
    margin-top: 290px;
    position: absolute;
    display: flex;
    gap: 5px;
    font-size: 15px;
    width: 196px;
    height: 20px;
}
.div37{
    margin-left: 49px; 
    margin-top: 329px;
    position: absolute;
    display: flex;
    gap: 5px;
    font-size: 15px;
    width: 196px;
    height: 20px;
}
.div38{
    margin-left: 268px; 
    margin-top: 329px;
    position: absolute;
    display: flex;
    gap: 5px;
    font-size: 15px;
    width: 196px;
    height: 20px;
}
.div39{
    margin-left: 48px;
    margin-top: 30px;
    width: 1217px;
    height: 558px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 5px;
    opacity: 1;
    position: absolute;
}
.div40{
    margin-left: 1145px;
    margin-top: 10px;
    position: absolute;
}
.div41{
    margin-left: 40px;
    margin-top: 78px;
    position: absolute;
}
table {
    width: 70vw;
    font-family: Arial;
}
th, td {
    padding: 14px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
.cell{
    color: #3CDD5F;
}
.fail{
    color: #FF4545;
}
.pending{
    color: #BABABA;
}
.div42{
    height: 1890px;
    width: 1318px;
    position: absolute;
    margin-top: 70px;
    margin-left: 242px;
    background-color: rgb(250, 250, 250);    
}
.div43{
    margin-left: 50px;
    margin-top: 87px;
    width: 1218px;
    height: 1749px;
    position: absolute;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 5px;
    opacity: 1;
}
.div44{
    position: absolute;
    margin-top: 7px;
    margin-left: 29px;
    color: #3E3E3E;
    font-size: 22px;
}
.div45{
    position: absolute;
    margin-top: 66px;
    margin-left: 30px;
}
#form1 {
    border-radius: 5px;
    padding: 20px; 
    width: 1118px;
    border: 1px solid #ADADAD; 
}
#form2 {
    border-radius: 5px;
    padding: 20px; 
    width: 1118px;
    border: 1px solid #ADADAD; 
}
#form3 {
    border-radius: 5px;
    padding: 20px; 
    width: 1118px;
    height: 130px;
    border: 1px solid #ADADAD; 
}
.div46{
    position: absolute;
    margin-top: 410px;
    margin-left: 29px;
    color: #3E3E3E;
    font-size: 22px;
}
.div47{
    margin-top: 475px;
    margin-left: 30px;
    position: absolute;
    display: flex;
    gap: 30px;
}
#form4 {
    border-radius: 5px;
    padding: 20px; 
    width: 525px;
    border: 1px solid #ADADAD; 
}
#form5 {
    border-radius: 5px;
    padding: 20px; 
    width: 525px;
    border: 1px solid #ADADAD; 
}
.div48{
    margin-top: 550px;
    margin-left: 30px;
    position: absolute;
    display: flex;
    gap: 30px;
}
#form6 {
    border-radius: 5px;
    padding: 20px; 
    width: 525px;
    border: 1px solid #ADADAD; 
}
#form7 {
    border-radius: 5px;
    padding: 20px; 
    width: 525px;
    border: 1px solid #ADADAD; 
}